@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

body{
    padding: 0px;
    margin: 0px;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;

}
*{
    box-sizing: border-box;
}
.Usertable 
{
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    max-height: 400px;
    
}
#user-table-head
{
    width: 100%;
    background-color: #212121;
}
#user-table-head tr th
{
    width:300px;
}
.Usertable .table
{
    width: 100%;
    margin: 30px 0px;
    border-collapse: collapse;
}
 thead 
{
    height: 55px;
    width: 100%;
    border-collapse: collapse;
    border: none;
    color: white;
    text-align: left;
    background-color: rgb(22, 43, 43);
}
thead th {
    width: 31%;
    
}

.Usertable .table .oprBtn
{
    width: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}
.Usertable .table .oprBtn button
{
    border-style: none;
    cursor: pointer;
   height: 35px;
   width: 30%;
   font-family: 'Montserrat', sans-serif;

   border-radius: 3px;
   
}
.Usertable .table tr td{
    height: 40px;
    width: 24%;
}

.Usertable .table tr #dataId
{
    width: 3%;
}
/*  */

.checkUser .singleUser
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 7px 10px, rgba(0, 0, 0, 0.23) 0px 2px 3px;
    border-radius: 5px;

}
.checkUser .singleUser .UserIcon
{
    width: 30%;

}
.checkUser .singleUser .User-Details
{
    width: 70%;
    height: 55%;
    margin: auto 20px;
    padding: 40px 0px;
}

.checkUser .singleUser .UserIcon .icon
{
   height: 45%;
  width: 80%;
  margin: 100px auto auto;
    background-color: antiquewhite;
}
.checkUser .singleUser .UserIcon .icon img{
    width: 100%;
    height: 100%;
}
.closeSingleUser-btn
{
    height: 40px ;
    width: 10%;
    color: #F2963A;
    border-style: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;

}