@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap");

#main-requestBloodForm {
  width: 100%;
  background-image: url("C:/Users/Hassan Ali/Desktop/Project Donate Happiness/DonateHapiness/public/assets/sliderimgs/Form-background-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  font-family: "Montserrat", sans-serif;
  background-size: 100%;
}

.requestBlood-conatiner {
  width: 90%;
  padding: 50px 0px;
  margin: 0px 5%;
  height: auto;
}

.requestBloodAmountForm {
  color: white;
  width: 80%;
  margin: 0px 10%;
  border: 1px solid silver;
  padding: 50px 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.requestBlood-conatiner form h1 {
  margin: 0px;
}

.requestBlood-conatiner .requestAmountBtn {
  width: 95%;
  height: 55px;
  margin: 20px 0%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #f2963a;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: none;
  background-color: #212121;
  transition: 1s;
}
.requestBlood-conatiner .requestAmountBtn:hover {
  color: white;
}
/* feilds css */
.fullName-requestBlood-Field {
  width: 48%;
  float: left;
}

.Cnic-requestBlood-Field {
  width: 48%;
  float: right;
}

.bloodCate-requestBlood-Field {
  width: 48%;
}

.dnrCity-requestBlood-Field {
  width: 48%;
}

.dnrAge-requestBlood-Field {
  width: 48%;
  float: left;
}

.dnrPhone-requestBlood-Field {
  width: 48%;
  float: right;
}

#demo-simple-select-label {
  color: white;
}
.fullName-requestBlood-Field .MuiAutocomplete-tag {
  background-color: #f2963a;
  color: #f2963a;
}

.requested-textfiled {
  position: relative;
  width: 50%;
  float: left;
  margin: 10px 0px;
}
.requested-textfiled input {
  height: 55px;
  width: 90%;
  outline: none;
  border-style: none;
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.requested-textfiled span {
  position: absolute;
  left: 5%;
  top: 30%;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.requested-textfiled input:focus ~ span {
  transform: translateX(10px);
  transform: translateY(-23px);
  color: #f2963a;
  background-color: #212121;
  padding: 0px 5px;
  font-size: 11px;
}
.requested-textfiled input:valid ~ span {
  transform: translateX(10px);
  transform: translateY(-23px);
  color: #f2963a;
  background-color: #212121;
  padding: 0px 5px;
  font-size: 11px;
}
/* slect fileds */

.textfields {
  width: 100%;
  float: left;
}
.textfields .textfield {
  width: 48%;
}
.textfields-ful {
  width: 48%;
}
.textfields-address {
  width: 97%;
}
