@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap");
.main-footer {
  width: 100%;
  background: #191919;
  font-family: "Montserrat", sans-serif;
}
.footer-Container {
  width: 90%;
  margin: 0px 5%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}
.footerLogo img {
  margin-top: -25px;
}
.footer-Container h2 {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}
#footer-home-links-h2 {
  color: #f7941d;
  margin-right: 13px;
}
.ul {
  list-style: none;
  color: white;
  padding: 0px;
  font-size: 15px;
}
.ul p {
  color: white;
  padding: 2px 25px;
}
.ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 12px 40px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.footer-logo-Downdetials {
  cursor: text;
}
.ul-footer-tags {
  transition: 1s;
}
.ul-footer-tags:hover {
  color: #f7941d;
}
#fahouseIcon {
  padding-right: 5px;
}
/* footer copy right div  */
.footer-copyright {
  height: 124px;
  width: 100%;
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.copyrightPara {
  width: 60%;
  float: left;
  color: white;
  line-height: 92px;
  font-family: "Montserrat", sans-serif;
}
.copyrightPara p {
  padding: 0px 50px;
}
.copyrightPara-span {
  color: #f7941d;
}
.copyright-Links {
  width: 40%;
  float: left;
}
.ul-copyright-Links {
  list-style-type: none;
  float: right;
}
.ul-copyright-Links li {
  display: inline-block;
}
.ul-copyright-Links li a {
  color: white;
  line-height: 92px;
  text-decoration: none;
  padding: 10px 10px;
  transition-duration: 1.5s;
  cursor: pointer;
}
.ul-copyright-Links li a:hover {
  background-color: #f7941d;
  border-radius: 3px;
}
#link-faInsta {
  margin-right: 50px;
}
