@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

.contactUs-Header {
    height: 400px;
    width: 100%;
    background-image: url("../public/assets/sliderimgs/contactUsCover.jpg");
    background-size: cover;
    
}

.contactUs-HeaderLogo {
    width: 20%;
    height: 90px;
    position: relative;
    top: 60%;
    left: 5%;
    background-color: #F2963A;
    opacity: 0.9;
    border-radius: 3px;
}

.contactUs-HeaderLogo h1 {
    margin: 0px;
    text-align: center;
    padding: 25px 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.contactUs-row-2 {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.contactInfo {
    width: 90%;
    height: 500px;
    margin: 50px 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.contactInfoLeft {
    width: 26%;
    float: left;
    margin: 0px 2%;
}

#contactInfoLeft-logo {
    color: #F2963A;
}

.contactInfoLeft-details p {
    color: #999;
    margin: 10px 10px;
}

.contactInfoRight {
    width: 70%;
    float: left;
}

.contactInfoRight h1 {
   
     color: #F2963A;
     font-family: 'Montserrat', sans-serif;
}
.commentForm {
    width: 90%;
    padding: 10px 0px;
    
}

/*  comment box text field */
#commentFormNameField {
    float: left;
    height: 90px;
    width: 40%;
    margin: 0px 5%;
}

#commentFormLastNameField {
    float: left;
    height: 90px;
    width: 40%;
    margin: 0px 5%;
}

#commentFormEmailField {
    height: 90px;
    width: 90%;
    float: left;
    margin: 0px 5%;
}

#commentFormCommentField {
    width: 90%;
    float: left;
    margin: 0px 5%;
}

.commentFormSumbitBtn {
    width: 95%;
    height: 55px;
    font-weight: bold;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
transition: 0.5s;
    background-color: #212121;
}
.commentFormSumbitBtn:hover{
    color: white;
}

.contactInfoLeft-details {
    margin: 50px 0px;
}

.contactInfoLeft-details h1 {
    color: #212121;
    margin: 0px;

}

.contactUs-row-3 {
    background-color: chocolate;
}

.contactMap {
    width: 100%;
    height: 550px;
    background-color: cornflowerblue;
}

/* comment form  css*/


/* .contactInfoLeft-details h2{
    margin: 0px;
}
.ContactForm .MuiFormLabel-root
{
    color: #212121;
}
.MuiFormControl-root .MuiOutlinedInput-root {
    color: #212121;
}
.MuiFormControl-root label {
    color: #212121;
} */

/*  */
.comment-textfields
{
    width: 100%;
    height: 76px;

}
 .comment-textfiled
{
    position: relative;
    width: 50%;
    float: left;
    margin: 10px 0px;
    

}
.comment-textfiled input{
    height: 55px;
    width: 90%;
    outline: none;
    border-style: none;
    border-radius: 5px;    
    padding: 0px 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

    
    border: 1px solid #212121;
    background-color: transparent;

}

.comment-textfiled span{
    position: absolute;
    left: 5%;
    top: 30%;
    transition: 0.3s;

    font-family: 'Montserrat', sans-serif;

    text-transform: uppercase;
    
}
.comment-textfiled input:focus ~ span{

    transform: translateX(10px);
    transform: translateY(-23px);
    color: #F2963A;
    background-color: #212121;
    padding: 0px 5px;
    font-size: 11px;
    
   
}.comment-textfiled input:valid ~ span{

    transform: translateX(10px);
    transform: translateY(-23px);
    color: #F2963A;
    background-color: #212121;
    padding: 0px 5px;
    font-size: 11px;
    
   
}

#comment-textfiled-comBox
{
    width: 100%;
    height: 90px;

}#comment-textfiled-comBox input{
    width: 95%;
   
}

#comment-textfiled-comBox span{
    position: absolute;
    left: 2.5%;
    top: 18%;
}