
.contactUs-Header
{ height: 400px;
    width: 100%; 
    background-image: url("../public/assets/sliderimgs/contactUsCover.jpg");
    background-size: cover;
}
.contactUs-HeaderLogo
{
    width: 20%;
    height: 90px;
    position: relative;
    top: 60%;
    left:5%;
    background-color:#F2963A;
    opacity: 0.9;
    border-radius: 3px;

}
.contactUs-HeaderLogo h1{
    margin: 0px;
    text-align: center;
    padding: 25px 0px;
    color: white;
    font-family: 'Roboto slab';
}
.contactUs-row-2
{
    width: 100%;
}
.contactInfo
{
    width: 90%;
    height: 500px;
    margin: 0px 5%;
}
.contactInfoLeft
{    
    width: 30%;

    float: left;
}

#contactInfoLeft-logo
{
    color: #F2963A;
}

.contactInfoLeft-details p
{
    color: #999;
}

.contactInfoRight
{
    width: 70%;
background-color: #F2963A;
    float: left;
}
.commentForm
{
    width: 100%;
    padding: 52.5px 0px;
    margin: 0px 0px;
}
/*  comment box text field */
#commentFormNameField
{
    float: left;
    height: 90px;
    width: 40%;
    margin: 0px 5%;

}
#commentFormLastNameField
{
    float: left;
    height: 90px;
    width: 40%;
    margin: 0px 5%;
}
#commentFormEmailField
{
    height: 90px;
    width: 90%;
    float: left;
    margin: 0px 5%;
}
#commentFormCommentField
{
    width: 90%;
    float: left;
    margin: 0px 5%;
}
.commentFormSumbitBtn
{
    width: 90%;
    height: 50px;
    margin: 20px 5%;
    font-weight: bold;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    background-color: #212121;
}
.contactInfoLeft-details
{
    margin: 50px 0px;
}
.contactInfoLeft-details h1
{
 color: #212121;
 margin: 0px;

}
.contactUs-row-3
{
    background-color: chocolate;
}
.contactMap
{
    width: 100%;
    height: 550px;
    background-color: cornflowerblue;
}
/* comment form  css*/

.contactInfoRight
{
    background-color: #F2963A;

}