@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

.main-donateBloodForm {
    width: 100%;
    background-image: url("../public/assets/sliderimgs/Form-background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: 100%;
}

.donateBlood-conatiner {
    width: 90%;
    padding: 50px 0px;
    margin: 0px 5%;
    color: white;
    height: auto;
}

.donateBloodAmountForm {
    box-sizing: border-box;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid silver;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.donateBlood-conatiner form h1 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.donateBlood-conatiner form h1::after {
    display: block;
    height: 2px;
    width: 35%;
    margin: 10px 0px;
    content: "";
    background-color: #F2963A;
}
.donateBloodAmountForm p{
    font-family: 'Spinnaker';
}
.donateBlood-conatiner .donateAmountBtn {
    width: 100%;
    height: 50px;
    margin: 20px 0%;
    font-weight: bold;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    background-color: #212121;
    transition-duration: 1.5s;
}
.donateBlood-conatiner .donateAmountBtn:hover{
    color: white;
}
/* feilds css */
.fullName-donateBlood-Field {
    width: 48%;
    float: left;
}

.Cnic-donateBlood-Field {
    width: 48%;
    float: right;
}

.bloodCate-donateBlood-Field {
    width: 48%;
}

.dnrCity-donateBlood-Field {
    width: 48%;
}

.dnrAge-donateBlood-Field {
    width: 48%;
    float: left;
}

.dnrPhone-donateBlood-Field {
    width: 48%;
    float: right;
}
.donateBloodSelect
{
    outline: none;
   
}
/* .MuiFormControl-root label
{
    color: white;
}
.MuiFormControl-root .MuiOutlinedInput-root
{
    color: white;
} */


/* this class taking from Sx={ } */
.MuiSelect-outlined
{
    
}
.donateBloodAmountForm label
{
    color: aliceblue;
}
.donateBloodAmountForm input{
    color: aliceblue;
}
.donateBloodAmountForm .MuiOutlinedInput-notchedOutline 
{
    border: 1px solid white;
}
.donateBloodAmountForm .MuiOutlinedInput-notchedOutline:hover
{
    border: 1px solid white;
}
.donateBloodAmountForm .MuiInputLabel-formControl
{
    color: aliceblue;
}
.css-1ftyaf0
{
    color: aliceblue;
}
.donateBloodAmountForm .MuiFormControl-root:hover{
    color: white;
}
.donateBloodAmountForm fieldset:hover{
    border-color: antiquewhite;
}
.donateBloodAmountForm .MuiSvgIcon-root
{
    color: white;
}
.donateBloodAmountForm .MuiInputLabel-root:hover
{
    color: #F2963A;
}