@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

.main-donateBloodForm {
    width: 100%;
    background-image: url("../public/assets/sliderimgs/Form-background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: 100%;
}

.donateBlood-conatiner {
    width: 90%;
    padding: 50px 0px;
    margin: 0px 5%;
    color: white;
    height: auto;
}

.donateBloodAmountForm {
    box-sizing: border-box;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid silver;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.donateBlood-conatiner form h1 {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.donateBlood-conatiner form h1::after {
    display: block;
    height: 2px;
    width: 35%;
    margin: 10px 0px;
    content: "";
    background-color: #F2963A;
}
.donateBloodAmountForm p{
    font-family: 'Spinnaker';
}
.donateBlood-conatiner .donateAmountBtn {
    width: 97%;
    height: 57px;
    margin: 20px 0%;
    font-weight: 600;
    font-size: 15px;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    background-color: #212121;
    transition-duration: 1.5s;
    font-family: 'Montserrat', sans-serif;

}
.donateBlood-conatiner .donateAmountBtn:hover{
    color: white;
}
/* feilds css */


/* text fileds */
.textfields
{
    width: 100%;

}

.textfields
{
    width: 48%;
    float: left;
    margin-right: 2%;
}
.textfields-ful{
    width: 48%;

}
.textfields-address
{
    width: 97%;
}
