.main-DonationForm {
    width: 100%;
    background-color: #212121;
}

.donation-conatiner {
    width: 90%;
    padding: 50px 0px;
    margin: 0px 5%;
    background-color: darkgrey;
    height: auto;
}

.donationAmountForm {
    width: 40%;
    margin: 0px 5%;
    border: 1px solid silver;
    padding: 50px 50px;
    border-radius: 5px;
}

.donation-conatiner form h1 {
    margin: 0px;
}

.donation-conatiner .donateAmountBtn {
    width: 100%;
    height: 50px;
    margin: 20px 0%;
    font-weight: bold;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    background-color: #212121;
}