.main-Gal
{
    height: 500px;
    width: 100%;

}
.gal-Img
{
    width: 300px;
    height: 400px;
    background-color: darkgreen;
  position: absolute;
  box-sizing: border-box;
  


}
.gal-img-overlay
{
    width: 300px;
    height: 400px;
    background-color: #212121;
    position: relative;
    left: -50px;

    
    
}
.gal-con
{
    width: 80%;
    margin: 50px 10%;
    background-color: orange;
}