.main-Gallery {
    width: 100%;
    background-image: url("../public/assets/sliderimgs/galleryBackImg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size: 100%;
}
.Gallery-Container
{
    width: 100%;
    margin: 0px 0%;
    background-color: rgba(0, 0, 0, 0.3);

}
.searchingBtnsGallery
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    margin: 10px 0px 50px 0;
}
.searchingBtnsGallery button{

    padding: 13px 30px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid white;
    margin-right: 10px;
    cursor: pointer;
    background-color: #212121;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    

}

.main-Gallery h1 {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}
#GalleryImgs
{
   width: 32%;
   height: 350px;
   margin: 10px 7px;
   border-radius: 4px;
   transition-duration: 1s;

}
#GalleryImgs:hover
{
    transform: scaleY(1.1)}
