
header {
    width: 100%;
    height: 184px;
}

.m-header {
    width: 100%;
    height: 34px;
    background-color: #f7941d;
    
}

.header-container {
    width: 90%;
    margin: 0px 5%;
}

.header-nav {
    height: 34px;
    width: 100%;
    background-color: #f7941d;
    
}

.header-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

.header-ul li {
    display: inline-block;
}

.header-ul li a {
    display: block;
    padding: 7px 12px;
    color: white;
    cursor: pointer;
    
}

.header-btn {
    float: right;
    
    
}

.h-loginbtn,
.h-registerbtn {
    padding: 9px 10px;
    text-transform: uppercase;
    cursor: pointer;
    
    background-color: transparent;
    color: white;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
     font-weight: bold;
    transition-duration: 1s;
}

.h-registerbtn:hover {
    color: #18534e;

}

.h-loginbtn:hover {
    color: #18534e;

}

.headerlogo {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ul-menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;

}

.ul-menu li {
    display: inline-block;


}

.ul-menu li #menu-ul-Link {
    display: block;
    padding: 14px 20px;
    font-weight: 600;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition-duration: 1s;
    cursor: pointer;
    text-transform: uppercase;
}

.ul-menu li #menu-ul-Link:hover {
    color: #f7941d;

}

.logoimg-div {
    height: 40px;
    margin-top: 10px;
}

.ul-menu {
    height: 50px;
    margin-top: 50px;
}

.h-donatebtn {
    margin-top: 50px;
    height: 50px;
    width: 130px;
    font-size: 15px;
    background-color: #f7941d;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    transition-duration: 1s;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.h-donatebtn:hover {
    color: #f7941d;
    background-color: white;
    border: 1px solid #f7941d;

}