@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

#main-requestBloodForm {
    width: 100%;
    background-image: url("../public/assets/sliderimgs/16.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    font-family: 'Montserrat', sans-serif;

    background-size: 100%;
}


.requestBlood-conatiner {
    width: 90%;
    padding: 50px 0px;
    margin: 0px 5%;
    height: auto;
    
}

.requestBloodAmountForm {
    box-sizing: border-box;
    color: white;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid silver;
    padding: 50px 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.requestBlood-conatiner form h1 {
    margin: 0px;
}

.requestBlood-conatiner .requestAmountBtn {
    width: 100%;
    height: 50px;
    margin: 20px 0%;
    font-weight: bold;
    color: #F2963A;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    background-color: #212121;
}

/* feilds css */
.fullName-requestBlood-Field {
    width: 48%;
    float: left;
}

.Cnic-requestBlood-Field {
    width: 48%;
    float: right;
}

.bloodCate-requestBlood-Field {
    width: 48%;
}

.dnrCity-requestBlood-Field {
    width: 48%;
}

.dnrAge-requestBlood-Field {
    width: 48%;
    float: left;
}

.dnrPhone-requestBlood-Field {
    width: 48%;
    float: right;
}

form #salaryPara {
    margin: 10px 10px;
    font-size: 15px;
}

.dnraddress-requestBlood-Field {
    width: 60%;
}