@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&family=Stoke&display=swap');

/*  for h1 h2 font-family: 'Montserrat', sans-serif;
 */

/* for specafic p font-family: 'Playball', cursive;
 */

/* 
        font-family: 'Spinnaker';
        for para
 */

.main-Signup {
    width: 100%;
    padding: 50px 0px;


}

.Signup-Container {
    width: 90%;
    margin: 0px 5%;
    height: 580px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.SignupLeft-details {
    width: 40%;
    height: 580px;
    float: left;
    background-color: #212121;
    text-align: center;

}

.SignupLeft-details p {
    color: white;
    font-family: 'Spinnaker';
}

.SignupRight-Form {
    width: 60%;
    height: 580px;
    float: left;
    background-color: transparent;
}

/* Signup left div css */
.Signup-Logo {
    width: 250px;
    margin: 80px auto 0px;
}

.SignupLeft-details h2 {
    color: white;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;

}

.SignupLeft-details p {
    margin: 10px 10px;
    font-size: 14px;
}

.SignupLeft-details #SignupLeft-p {
    margin: 20px 20%;
    color: #F2963A;
    text-transform: capitalize;
    font-family: 'Playball', cursive;
}

.contributionCompLogos {
    width: 70%;
    height: 50px;
    margin: 0px 15%;
    justify-content: space-between;
    justify-content: center;
    display: flex;
    /* background-color: #F2963A; */
}
.signupContrib-Comp-Logos-img1
{
  margin: 5px 5px;
}
.signupContrib-Comp-Logos-img2
{
    margin: 5px 5px;

}
.signupContrib-Comp-Logos-img3
{
    margin: 5px 5px;

}
/* .SignupLeft-SignupBtn
{
    width: 40%;
    margin: 50px auto 0px;
    height: 50px;
    background-color: #212121;
    border-style: none;
    border-radius: 5px;
    color: #F2963A;
    font-weight: bold;
    font-size: 15px;
    
} */
/* Signup right div css */
.SignupForm {
    margin: 50px 30% 0px 5%;

}

.SignupForm h2 {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.SignupForm h2::after {
    display: block;
    height: 2px;
    width: 50%;
    margin: 7px auto 20px;
    content: "";
    background-color: #F2963A;
}

.SignupForm p {
    margin: 10px 0px 0px;
    font-family: 'Spinnaker';
}

.RegisterBtn {
    width: 40%;
    margin: 30px 0px 10px;
    height: 50px;
    
    border-style: none;
    border-radius: 5px;
    color: #F2963A;
    background-color: #212121;
    border: 1px solid #212121;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px;
}

.RegisterBtn:hover {
    color: white;
}

form .forgotPassword-Para {
    margin: 41.5px 0px 0px;
}

/* ,,,,,,,,,,,,,,,,,,,, */
.firstname-Signup {
    float: left;
}

.lastname-Signup {
    float: right;
}

.password-Signup {
    float: left;
}

.cpassword-Signup {
    float: right;
}